/* Gente, hermosa y apausible gente, aquí Adrián. ESTOS ESTILOS DE MEDIA QUERY SON PARA CADA DISPOSITIVO, RESPETEN ESO */

/* Estilos base para dispositivos móviles */
@media (max-width: 767px) {
  /* Aquí defines los estilos para dispositivos móviles (pantallas menores o iguales a 767px de ancho) */
  body {
    font-family: Arial, sans-serif;
    background-color: #9d9c9e;
  }
}

/* Estilos para tabletas y dispositivos con pantallas medianas */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Aquí defines los estilos para tabletas y pantallas medianas (768px a 1023px de ancho) */
  body {
    font-family: Arial, sans-serif;
    background-color: #7d60ac;
  }
}

/* Estilos para pantallas grandes, como escritorios */
@media (min-width: 1024px) {
  /* Aquí defines los estilos para pantallas grandes (mayores a 1023px de ancho) */
  body {
    margin: 0;
    padding: 16px 16px 16px 16px;
    font-family: Arial, sans-serif;
    background-color: #1B063E;
  }
}








































/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1B063E;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
