.modalBackdrop {
  position: absolute;
  top: 406px;
  left: 63%;
  transform: translate(-50%, -50%);
  width: 650px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, .08);
}

.modalBackdrop .modalContent {
  width: 35%;
  background: linear-gradient(to right, #1B063E, #622EDA);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.modalBackdrop .modalContent img {
  border-radius: 5px;
  margin-bottom: 10px;
}

.modalBackdrop .modalContent h4 {
  margin-bottom: 10px;
}

.wrapper .modalContent p {
  font-size: 12px;
}

.modalBackdrop .right {
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modalBackdrop .right .info,
.modalBackdrop .right .projects {
  margin-bottom: 25px;
}

.modalBackdrop .right .info h3,
.modalBackdrop .right .projects h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.modalBackdrop .right .info_data,
.modalBackdrop .right .projects_data {
  display: flex;
  justify-content: space-between;
}

.modalBackdrop .right .info_data .data,
.modalBackdrop .right .projects_data .data {
  width: 45%;
}

.modalBackdrop .right .info_data .data h4,
.modalBackdrop .right .projects_data .data h4 {
  color: #353c4e;
  margin-bottom: 5px;
}

.modalBackdrop .right .info_data .data p,
.modalBackdrop .right .projects_data .data p {
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

.closeButton {
  background-color: #01a9ac;
  margin-top: 50%;
}

.userBirthday {
  margin-top: -21px;
}



.crossIcon{
  color: #ff193b;
  margin-right: 5px;
}

.crossIconAllow{
  color: #00D37B;
  margin-right: 5px;
}

.editIcon{
  color: #1B063E;
  margin-left: 6px;
}

.red{
  color: red;
}

.green{
  color: #00D37B;
}